Node-red flow code/flows.json
[{"id":"3fdb06.0bc084fa","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d7c7f9dd.a843c8","type":"debug","z":"3fdb06.0bc084fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":120,"wires":[]},{"id":"4849d37c.29d1ac","type":"function","z":"3fdb06.0bc084fa","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;    \n}\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["7525cf87.9247a"]]},{"id":"2a2121bb.05527e","type":"function","z":"3fdb06.0bc084fa","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["e19072f4.66955"]]},{"id":"1a915c8f.1c1fa3","type":"ui_form","z":"3fdb06.0bc084fa","name":"","label":"","group":"2319e5fe.76c7aa","order":1,"width":"6","height":"6","options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["2a2121bb.05527e"]]},{"id":"7525cf87.9247a","type":"ui_text","z":"3fdb06.0bc084fa","group":"fe10be2a.387db","order":2,"width":"18","height":"4","name":"","label":"The ANSWER to your QUESTION is :","format":"{{msg.payload}}","layout":"col-center","x":890,"y":300,"wires":[]},{"id":"e19072f4.66955","type":"watson-conversation-v1","z":"3fdb06.0bc084fa","name":"Assistant","workspaceid":"f6a6ce89-5257-4b65-94bc-239587a89c45","multiuser":false,"context":false,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/656f3526-78ea-4078-9e7e-22c4ad61f88f","timeout":"","optout-learning":false,"x":440,"y":200,"wires":[["d7c7f9dd.a843c8","4849d37c.29d1ac"]]},{"id":"2319e5fe.76c7aa","type":"ui_group","z":"","name":"ASK YOUR QUESTION","tab":"10a71cb0.914c73","order":3,"disp":true,"width":"6","collapse":false},{"id":"fe10be2a.387db","type":"ui_group","z":"","name":"CHATBOT","tab":"10a71cb0.914c73","order":4,"disp":true,"width":"18","collapse":false},{"id":"10a71cb0.914c73","type":"ui_tab","z":"","name":"CUSTOMER-CARE","icon":"dashboard","disabled":false,"hidden":false}]